<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Snackr</title>
</head>
<body>
    <header>
<h1>Happy Snackr</a></h1>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/snacks/new">Add new snack</a>
        </li>
    </ul>
</nav>
    </header>
    <main>
        <h2>List of Snacks</h2>
        <ul>
           
<!-- first part of href calls category, second part shows category -->
            
                <!-- do href snacks/name of category -->
                <a href="/snacks/sweet-&-salty">Sweet & Salty</a>
                <a href="/snacks/sweet">Sweet</a>
                <a href="/snacks/salty">Salty</a>
                <a href="/snacks/protein-pakd">Protein Pak'd</a>
                <a href="/snacks/allergy-friendly">Allergy Friendly</a>
                <a href="/snacks/partytime">Partytime</a>
                
        </ul>
    </main>
</body>
</html>
